<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="app">
    </div>
    <footer class="footer">
        <a href="https://www.laudis.tech">Made possible by Laudis technologies.</a>
    </footer>
</body>
</html>
