/*
--------------------------------------------
ONLY USED IN TABLES

// tr class

.result-row                           // wraps elements in 1 row = tr class="result-row"

// td classes

.result-row__description               // result description
.result-row__code                      // result code
.result-row__amount                    // result amount
.result-row__operation                 // x sign
.result-row__percentage                // % sign
.result-row__equal                     // = sign
.result-row__result                    // last item in row align right
.result-row__total                     // main total with 2px top border replaces .result-row__result
.result-row__total--not-end-dark       // modifier amount to result 1 px border top result in combination with .result-row__amount

--------------------------------------------
*/

.tool {

  table {
    border-collapse: collapse;
    width: 100%;
  }

  .result-row {

    // description
    &__description {
      width: 350px;
      display: table-cell;
    }
    // code tool
    &__code {
      text-align: right;
      padding-left: 10px;
      padding-right: 10px;
      width: 60px;
      @media only screen and (max-width: 860px) {
        white-space: nowrap;
      }
    }
    // amount
    &__amount {
      padding-left: 10px;
      padding-right: 10px;
      text-align: right;
      width: 100px;

    }
    // operator
    &__operation {
      width: 10px;
      padding-left: 10px;
      padding-right: 10px;
      text-align: center;
    }
    // percentage
    &__percentage {
      width: 65px;
      text-align: right;
      padding-left: 0;
      padding-right: 10px;
    }
    // equal
    &__equal {
      width: 10px;
      padding-left: 10px;
      padding-right: 10px;
      text-align: center;
    }
    &__result {
      text-align: right;
      padding: 0;
      width: 100px;
    }
    &__total {
      text-align: right;
      padding: 0;
      width: 100px;
      font-weight: bold;
      border-top: 2px solid $practinet-btn-main-bg;
      color: $practinet-btn-main-bg;
      position: relative;
      padding-top: 10px;
      padding-bottom: 10px;

      &:before {
        content: "";
        position: absolute;
        background: $practinet-btn-main-bg;
        left: 0;
        right: 0;
        width: 100%;
        height: 1px;
        top: -3px;
        display: inline-block;
      }

      // modifier amount to result 1 px border top result in combination with amount
      &--not-end-dark {
        border-top: 1px solid $practinet-c-main;
        color: $practinet-c-main;
        padding: 10px;
        font-weight: bold;
        &:before {
          display: none;
        }
      }
    }
  }
}

