/*
----------------------
Intro colored box at the beginning of the tool
used classes

.tool-box
.tool-box__label
.tool-box__select
.tool-box__paragraph

----------------------
*/
.tool-box {
  padding: 40px 40px;
  background: $tool-box-bg;
  margin-bottom: 60px;

  // versie tool
  &__label[for="version"] {
    margin-right: 15px;
    color: $tool-c-white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    display: inline-block;
    padding: 0 0 15px 0;
  }
  // dropdown year
  &__select {
    background: white;
    margin-right: 20px;
    text-indent: 5px;
    height: 36px;
    line-height: 36px;
    width: 210px;
  }
  // additional description of tool
  &__paragraph {
    color: $tool-c-white;
    display: inline-block;
    font-weight: 300;
    margin: 20px 0 0 0;
  }
}