/*
----------------------
tool elements main

.tool__heading-1
.tool__heading-2
.tool__legend
.tool__label--required
----------------------
*/

.tool {
  // heading 1
  &__heading-1 {
    font-size: 30px;
    font-weight: 400;
    color: $practinet-title-main;
    margin-top: 80px;
    margin-bottom: 40px;
  }

  // tool_heading-2
  &__heading-2 {
    color: $practinet-btn-main-bg;
    font-weight: 300;
    font-size: 25px;
    display: inline-block;
    margin-top: 0;
  }


  // tool_label--required
  &__label--required {

    // required field asterisk
    &:after {
      content: "*";
      margin-left: 3px;
      color: $practinet-c-red;
    }
  }

  table {
    border: none;
    td {
      padding: 6px 0;
      border: none;
    }
  }


  .gewoneAanslagen-header {
    h3 {
      margin-top: 0;
    }
  }

  /*
  ----------------------
  utilities
  ----------------------
  */

  .u-no-border {
    border: none;
    &:before {
      display: none;
    }
  }
  %u-border-top {
    border-top: 1px solid $practinet-legend-border-c;
  }

  /*
  ----------------------
  VENB 2019 OLD
  ----------------------
  */
  .venb-2019-old {
    .gecorrigeerde-grondslag-gewoon-tarief-nieuw {
      td {
        font-weight: bold;
      }
    }
    // extra witruimte - padding
    .gecorrigeerde-grondslag-gewoon-tarief---oud {
      td {
        padding-bottom: 40px;
        font-weight: bold;
      }
    }
    [class*="meerwaarden-op-aandelen-tegen-25%-oud"] {
      td {
        font-weight: bold;
      }
    }
    // extra witruimte - padding
    [class*="meerwaarden-op-aandelen-tegen-20%-nieuw"] {
      td {
        padding-bottom: 40px;
        font-weight: bold;
      }
    }
    [class*="meerwaarden-op-aandelen-tegen-25%-nieuw"] {
      td {
        font-weight: bold;
      }
    }
    // extra witruimte - padding
    [class*="meerwaarden-op-aandelen-tegen-0,4%-oud"] {
      td {
        padding-bottom: 40px;
        font-weight: bold;
      }
    }
    [class*="belastbaar-tegen-het-exit-tax-tarief-van-12,5%-nieuw"] {
      td {
        font-weight: bold;
      }
    }
    [class*="belastbaar-tegen-het-exit-tax-tarief-van-12,5%-oud"] {
      td {
        padding-bottom: 0;
        font-weight: bold;
      }
    }

    // extra witruimte - padding
    [class*="meerwaarden-op-aandelen-tegen-0,4%-oud"] {
      td {
        padding-bottom: 40px;
        font-weight: bold;
      }
    }
    [class*="gecorrigeerde-grondslag-gewoon-tarief-oud"] {
      td {
        font-weight: bold;
      }
    }
    // extra witruimte - padding
    [class*="gecorrigeerde-grondslag-gewoon-tarief---nieuw"] {
      td {
        font-weight: bold;
        padding-bottom: 40px;
      }
    }

    // lijntjes toevoegen totalen correcties 2019 nieuw
    [class*="totale-gewone-grondslag"],
    [class*="gecorrigeerde-grondslag-gewoon-tarief-oud"],
    [class*="totale-grondslag-meerwaarden-op-aandelen-25%"],
    [class*="meerwaarden-op-aandelen-tegen-25%-oud"],
    [class*="meerwaarden-op-aandelen-tegen-0,4%-oud"],
    [class*="belastbaar-tegen-het-exit-tax-tarief-van-12,5%-oud"] {
      .result-row__amount {
        border-top: 1px solid $practinet-c-main;
      }
    }
  }

  /*
  ----------------------
  VENB 2019 NIEUW
  ----------------------
  */

  .venb-2019-new {
    .gecorrigeerde-grondslag-gewoon-tarief-nieuw {
      td {
        font-weight: bold;
      }
    }
    .gecorrigeerde-grondslag-gewoon-tarief---oud {
      td {
        padding-bottom: 40px;
        font-weight: bold;
      }
    }
    [class*="meerwaarden-op-aandelen-tegen-25%-nieuw"] {
      td {
        font-weight: bold;
      }
    }
    [class*="meerwaarden-op-aandelen-tegen-20%-nieuw"] {
      td {
        font-weight: bold;
      }
    }
    [class*="meerwaarden-op-aandelen-tegen-25%-oud"] {
      td {
        padding-bottom: 40px;
        font-weight: bold;
      }
    }
    // extra witruimte - padding
    [class*="meerwaarden-op-aandelen-tegen-0,4%-oud"] {
      td {
        padding-bottom: 40px;
        font-weight: bold;
      }
    }
    [class*="belastbaar-tegen-het-exit-tax-tarief-van-12,5%-nieuw"] {
      td {
        font-weight: bold;
      }
    }
    [class*="belastbaar-tegen-het-exit-tax-tarief-van-12,5%-oud"] {
      td {
        padding-bottom: 40px;
        font-weight: bold;
      }
    }

    // lijntjes toevoegen totalen correcties 2019 nieuw
    [class*="totale-gewone-grondslag"],
    [class*="gecorrigeerde-grondslag-gewoon-tarief-nieuw"],
    [class*="totale-grondslag-meerwaarden-op-aandelen-25%"],
    [class*="meerwaarden-op-aandelen-tegen-25%-nieuw"],
    [class*="meerwaarden-op-aandelen-tegen-0,4%-oud"],
    [class*="belastbaar-tegen-het-exit-tax-tarief-van-12,5%-nieuw"] {
      .result-row__amount {
        border-top: 1px solid $practinet-c-main;
      }
    }

  }



  .total {

    &.no-border {
      border: none;
      &:before {
        display: none;
      }
    }
  }

  td.no-border {
    border: none;
    &:before {
      display: none;
    }
  }

  table {


    // table
    &.geen-vermeerdering {
      margin-bottom: 20px;
      width: auto;

      td {
        &.result-row__description {
          width: auto;
          border: none;
          line-height: 1;
          padding-right: 5px;
        }

        &.result-row__result {
          padding: 6px 0;
          border: none;
          line-height: 1;
          text-align: left;
        }
      }

      &:after {
        display: block;
        height: 1px;
        content: "";
        clear: both;
        width: 100%;
        position: static;
      }

      .result {
        margin-right: 10px;
        display: inline-block;
        float: left;
      }
    }

  }

  /*
  ------------------------------
  opsplitsen van data block 1 Algemeen Tarief
  ------------------------------
  */

  .wrapper-algemeen {

    > div:first-child {
      margin-bottom: 20px;
    }
    > div:last-child {
      margin-bottom: 20px;
    }

    .tool-row {
      margin-bottom: 0;

    }
  }

  /*
  ------------------------------
  opsplitsen van data block 2 -  Voorafbetalingen
  ------------------------------
  */

  .isStartendKMO {
    margin-bottom: 20px;

    .tool-row {
      margin-bottom: 0;
    }
  }
}
/*
----------------------
.tool-row wraps elements in 1 row

.tool-row
.tool-row__label
.tool-row__input-text
.tool-row__input-radio
.tool-row__input-checkbox
.tool-row__code  // used for code
----------------------
*/

.tool-row {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;

  // mobile 860px
  @media only screen and (max-width: 860px) {

    // label full width
    .tool-row__label {
      width: 100%;
      font-weight: 500;
      margin-bottom: 15px;
      line-height: 1.45;
    }
    .tool-row__code {
      text-align: left;
      margin-right: 5px;
      white-space: nowrap;
    }
    .tool-row__input-text {
      width: calc(100% - 65px);
    }
  }

  &__label {
    display: inline-block;
    text-align: left;
    margin-right: 5px;
    width: 500px;
    cursor: pointer;
    margin-top: 6px;
    position: relative;

    @media only screen and (max-width: 860px) {
      margin-top: 0;
      width: 100%;
      margin-right: 0;
    }
  }

  // tool-row__input-text input type="text"
  &__input-text {
    background: $tool-input-bg;
    border-radius: $tool-input-border-radius;
    color: $tool-input-c;
    height: 34px;
    line-height: 34px;
    padding: 0 18px;
    font-size: 15px;
    border: 1px solid $tool-input-border-color;
    text-align: right;
    box-sizing: border-box;

    @media only screen and (max-width: 520px) {
      width: 100%;
      box-sizing: border-box;
    }

    &:hover {
      background: $tool-input-active-bg;
      border: 1px solid$tool-input-border-color;
    }

    &:focus,
    &:active {
      border: 1px solid $tool-input-active-border-c;
      background: white;
    }
  }

  // tool-row__input-radio radiobutton
  &__input-radio {
    position: relative;
    top: 8px;
    height: 20px;
    + label {
      width: auto;
    }
  }
  // tool-row__input-checkbox radiobutton
  &__input-checkbox {
    position: relative;
    top: 8px;
    height: 20px;
    + label {
      width: auto;
    }
  }

  &__code {
    width: 60px;
    margin-top: 6px;
    display: inline-block;
    text-align: right;
    max-width: 450px;
    margin-right: 18px;
    white-space: nowrap;
  }
}


