

// tool colored box
$tool-box-bg: #2d4d96;
$tool-c-white: #ffffff;

// buttons colors
$tool-btn-main: #42ae9a; // main button - green button calculation
$tool-btn-secondary: #2d4d96; // secondary button blue - outline

// input
$tool-input-bg: #f3f7fa;
$tool-input-border-radius: 3px;
$tool-input-border-color: #dce5ec;
$tool-input-c: #2d4d96;
$tool-input-active-bg: #f9fafc;
$tool-input-active-border-c: #a4bccb;