/*
----------------------
main buttons used in tools
----------------------
*/
// green main button "bereken"
.tool {
  button {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 38px;
    height: 38px;
    border-radius: 50px;
    padding: 0 40px;
    background: $tool-btn-main; // green button
    color: #fff;
    display: flex;
    cursor: pointer;
    margin: 0 auto 0 auto;
    width: 185px;
    text-align: center;
    justify-content: center;
    border: none;

    @media only screen and (max-width: 520px) {
      width: 100%;
    }
  }

}

// blue outline button
.tool {

  // modifyer outline
  .btn--outline {
    color: $tool-btn-secondary;
    border: 2px solid $tool-btn-secondary;
    background: $tool-c-white;
  }
  // erase button top right
  .btn--erase {
    float: right;
    margin-top: -5px;
    @media only screen and (max-width: 520px) {
      width: auto;
    }
  }
}

// hide kaspersky antivirus key icon (class added by kaspersky)
.tool {
  .kpm_input-field-button {
    display: none;
  }
}




