/*
----------------------
remove blue hightlight
----------------------
*/
textarea,
select,
input,
button {
  outline: none;
}
/*
----------------------
important - practinet is border-box, this is content-box
----------------------
*/

.tool {
  box-sizing: content-box;

  *, :after, :before {
    box-sizing: content-box;
  }
// no border
  td.no-border {
    border: none;
  }
}




