/*
----------------------
errors
----------------------
*/
.tool {

  // error
  .errors {
    position: relative;
    top: -10px;
    text-align: right;
    width: 770px;
    padding: 0;
    margin: 0;

    .error-item {
      &:before {
        display: none;
      }
    }

    @media only screen and (max-width: 860px) {
      width: calc(100% - 65px);
      margin-left: 65px;
      text-align: left;
      top: -5px;
    }

    &:before {
      display: none;
    }
  }

/*
----------------------
calculation warning after button "Bereken "
----------------------
*/
  .calculation-warning__recalculate {
    max-width: 900px;
    padding: 30px 60px 30px 60px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    border: 1px solid #efe4cc;
    margin-top: 40px;
    margin-bottom: 40px;
    background: #fdf5e2;
    @media only screen and (max-width: 860px) {
      padding: 20px 20px 20px 20px;
      text-align: center;
    }

  }
}