/*
----------------------
tool general width
----------------------
*/
/*
----------------------
everything border-box
----------------------
*/
*, :after, :before {
  box-sizing: border-box;
}

.tool {
  width: 1120px;
  margin: 0 auto 150px auto;
  position: relative;

  td {
    font-size: 15px;
  }

  @media only screen and (max-width: 1200px) {
    width: calc(100% - 40px);
    padding: 0;
    box-sizing: border-box;
  }
}