/*
----------------------
tool form elements
----------------------
*/
.tool {
  // input checkbox input - radio
  input[type="checkbox"],
  input[type="radio"] {
    position: relative;
    top: 8px;
    height: 20px;
    + label {
      width: auto;
    }
  }

  // main elements in tool (before calculation)
  fieldset {
    margin: 0 0 30px 0;
    padding: 0;
    border: 0;
    @media only screen and (max-width: 520px) {
      margin-bottom: 10px;
    }

    // romove
    &:last-of-type {
      border-bottom: 1px solid $practinet-gray-90;
      padding-bottom: 30px;
      @media only screen and (max-width: 860px) {
        margin-bottom: 40px;
        padding-bottom: 0;
      }
    }
  }

  // tool_legend used on legend elements = title with border top 1px
  &__legend {
    display: block;
    width: 100%;
    font-size: 18px;
    color: $practinet-legend-c;
    font-weight: 500;
    padding-top: 25px;
    border-top: 1px solid $practinet-legend-border-c;
    margin-bottom: 20px;

    @media only screen and (max-width: 520px) {
      padding-top: 30px;
      margin-bottom: 30px;
      font-size: 20px;
    }
  }

  // select aantal kwartalen
  select#aantalkwartalen {
    width: 80px;
    background: $practinet-c-white;
    height: 36px;
    line-height: 36px;
  }

}