/*
----------------------
main div wrapper for results
----------------------
*/
/*
----------------------
.results                // div wrapper class="results"
.results__heading-2     // main title on top in results
.results__heading-3     // bold title  in results making visually subparts
.results__hr            // border below heading 2
----------------------
*/

.results {

  max-width: 900px;
  padding: 50px 60px 60px 60px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  border: 1px solid #f0f0f0;
  margin-top: 40px;

  @media only screen and (max-width: 860px) {
    padding: 0;
    border: none;
    box-shadow: none;
  }
  // heading 2
  &__heading-2 {
    font-weight: 300;
    margin-bottom: 45px;
    text-align: left;
    color: $practinet-btn-main-bg;
    border-bottom: 2px solid $practinet-gray-90;
    padding-bottom: 15px;
    font-size: 30px;
    display: block;
    margin-top: 0;
  }

  // heading 3
  &__heading-3 {
    color: $practinet-title-main;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 20px;
  }

  // line grey
  &__hr {
    height: 1px;
    background: $practinet-gray-90;
    width: 100%;
    border: none;
    margin-bottom: 40px;
  }
}

/*
----------------------
custom to tool
----------------------
*/
.results {
  .table-total {
    // general blue cfr results__heading-3
    h3 {
      margin: 0;
      font-size: 18px;
    }
  }
  // border top border bottom, title and result
  table.highlight {
    margin: 40px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    h3 {
      margin: 10px 20px 10px 0;
    }
    .total {
      padding-right: 0;
    }

    @media only screen and (max-width: 860px) {
      td {
        &.result-row__total.no-border {
          text-align: right;
        }
      }
    }
  }

  .geen-vermeerdering-indien {
    margin-top: 40px;
  }

  // end results - verrekenbare-voorheffing-totaal
  table.verrekenbare-voorheffing-totaal {
    td {
      &.no-border {
        border: none;
        &:before {
          display: none;
        }
      }
    }
  }
}


