<template>
    <div class="locale-changer input-group">
        <div class="input-group-prepend">
            <label class="input-group-text" for="locale-changer" id="locale-changer-label">{{$t('localisation.language')}}</label>
        </div>
        <select id="locale-changer" class="custom-select" @change="changeLocale" v-model="locale">
            <option v-for="(lang, i) in langs" :key="`Lang${i}`" :value="lang">{{ lang }}</option>
        </select>
    </div>
</template>

<script>
    import translations from '../../../../tax-shelter/resources/lang/all';

    export default {
        name: 'locale-changer',
        data() {
            return {
                langs: Object.keys(translations),
                locale: localStorage.getItem('lang')
            }
        },
        methods: {
            changeLocale() {
                this.$i18n.locale = this.locale;
                localStorage.setItem('lang', this.locale);
            }
        }
    }
</script>
