<template>
    <ul>
        <li v-html="errors" class="error-item"></li>
    </ul>
</template>

<script>
    export default {
        name: "validation",
        props : ['errors'],
        computed: {
            errorArray() {
                return this.errors === undefined ? [] : this.errors;
            }
        }
    }
</script>

<style scoped>
    .error-item {
        list-style-type: none;
    }
</style>
