

@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?w80b5x');
  src:  url('icomoon.eot?w80b5x#iefix') format('embedded-opentype'),
    url('icomoon.ttf?w80b5x') format('truetype'),
    url('icomoon.woff?w80b5x') format('woff'),
    url('icomoon.svg?w80b5x#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-info:before {
  content: "\e91a";
}
.icon-minus:before {
  content: "\e918";
}
.icon-plus:before {
  content: "\e919";
}
.icon-magnifier:before {
  content: "\e917";
}
.icon-search:before {
  content: "\e916";
}
.icon-user-solid-circle:before {
  content: "\e90e";
}
.icon-lock-closed:before {
  content: "\e90f";
}
.icon-lock-open:before {
  content: "\e910";
}
.icon-checkmark:before {
  content: "\e911";
}
.icon-attachment:before {
  content: "\e912";
}
.icon-calculator:before {
  content: "\e913";
}
.icon-calendar:before {
  content: "\e914";
}
.icon-menu:before {
  content: "\e915";
}
.icon-arrow-left:before {
  content: "\e900";
}
.icon-arrow-right:before {
  content: "\e901";
}
.icon-avatar:before {
  content: "\e902";
}
.icon-keyboard_arrow_up:before {
  content: "\e907";
}
.icon-keyboard_arrow_right:before {
  content: "\e908";
}
.icon-keyboard_arrow_left:before {
  content: "\e909";
}
.icon-keyboard_arrow_down:before {
  content: "\e90a";
}
.icon-arrow_drop_up:before {
  content: "\e90b";
}
.icon-arrow_drop_down:before {
  content: "\e90c";
}
.icon-close:before {
  content: "\e906";
}
.icon-printer:before {
  content: "\e90d";
}
.icon-log-out:before {
  content: "\e905";
}
.icon-arrow-right2:before {
  content: "\e903";
}
.icon-arrow-left2:before {
  content: "\e904";
}
