/*
  Override bootstrap variables and rules here for custom bootstrap theming.
*/

$text-muted:                        $p-green;

$body-color:                        $p-black;
//$font-size-base:                    0.8rem;
$font-size-base:                    1rem;
$line-height-base:                  1.6;
$font-family-sans-serif:            $font-stack;

$brand-primary:                     $p-green;
$brand-secondary:                   $p-blue-light;

$link-color:                        $p-blue-light;
$link-decoration:                   underline;

$dark:                              $p-black;

$border-radius:                     0;
$btn-border-radius:                 0;


// forms
$input-btn-focus-color:       none;


// breadcumbs
$breadcrumb-bg:                     transparent;
$breadcrumb-divider:                ">";
$breadcrumb-divider-color:          #94a2a9;
$breadcrumb-active-color:           $p-blue-dark;
$breadcrumb-padding-y:              16px;
$breadcrumb-padding-x:              20px;

// navigation
$navbar-padding-x: 0;
$navbar-light-color:                $p-black ;
$navbar-light-hover-color:          $p-green;
$navbar-light-active-color:         white;


$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 80%
);

// main breakpoints
$grid-breakpoints: (
        xs: 0,
        sm: 600px,
        md: 800px,
        lg: 1000px,
        xl: 1280px
);


.btn:hover {
  font-weight: normal;
}

$theme-colors: (
        primary: $p-blue-dark,
        secondary: $p-green/*,
        success: $green,
        info: $cyan,
        warning: $yellow,
        danger: $red,
        light: $gray-100,
        dark: $gray-800*/
) !default;


// This must remain here. No questions!
@import "../../../../../node_modules/bootstrap/scss/bootstrap";
