/*
    Define global styling rules here.
*/

a {
  font-weight: 400;
}
// remove blue outline focus button
body {
  button:focus,
  button:active {
    outline: none ;
    box-shadow: none;
  }
}


.container-fluid {
  padding: 0 30px;
  @media only screen and (max-width: 999px) {
    padding: 0 20px;
  }
}

// the Practicali logo
.logo {
  width: 100%;
}

.practicali-topedge {
  font-size: 1.0em;
  font-weight: bold;
}

.practicali-nav-main a {
  text-transform: uppercase;
}

// HACK: Safari https://stackoverflow.com/questions/45042811/bootstrap-layout-doesnt-work-with-safari
.row:before, .row:after {
  display: flex !important;
}

/*
Arrows used in the table of contents
 */
a[aria-expanded=true] .fa-caret-right {
  display: none;
}
a[aria-expanded=false] .fa-caret-down {
  display: none;
}

/*
    Grayscale images
 */
img.grayscale {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.article-table-of-contents-row:hover {
  background-color : #dddddd;
}

button.btn.btn-delete {
  display:inline;
}

.error-input {
  border-color: red;
}

.error-line {
  color: red;
}

.select2-container {
  width: 100% !important;
  display: block;
}
