/*
    Define variables here.
*/

// Body
$body-bg: #f3f7f9;
$p-black: #555;
$p-white: #fff;
$p-blue-dark: #2f3d59;
$p-blue-light: #009ee0;
$p-green: #42ae9a;

$bg-green-light: #eff7f6;

$bg-nav-top-second:  #f3f7f9;
$bg-btn-light: #e8f0f4;

$c-nav-item:  #222;

$c-title-h1: #2d4d96;
$c-title-h2: #2d4d96;
$c-title-main: #2d4d96;
$c-title-black: #222;
$c-blue-2: #2d4d96;

$c-red: #ca0909;
$bg-red-light: #fff5f5;


// contact form
$input-form-bg: #f3f7fa;
$input-form-border: #e0e8ec;
$input-form-border-radius: 4px;
$input-form-bg-focus: #f9fbfc;
$input-form-border-focus: #a3bcca;
$input-label-color: #2d4d96;


// input border search
$input-border: #d1d5d8;

$content-border: #e8f0f4;


$input-btn-focus-width:       2;

$input-color: #333333 ;
$input-btn-focus-box-shadow:  0 0 0 3px #fafafa  ;
$input-focus-border-color: $input-border;
$input-focus-bg: #fefefe;
$input-placeholder-color: #999;


// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #2f3d59;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;

$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;


// Panels
$panel-default-heading-bg: #fff;

// Exported from old base.scss
$font-stack:    Roboto, Arial, sans-serif;
$font-stack-narrow: "Roboto Condensed", Roboto, Arial, sans-serif ;
$font-color:    #333;
$primary-color: #ff0;

