@import "fonts/style";


/* popover styling */
.popover {
  max-width: 600px;
}

/*
--------------------------------------------
popover styling
--------------------------------------------
*/
.info-icon {
  position: relative;
  text-indent: -10000px;
  display: inline-block;
  width: 30px;
  height: 30px;
  top: -5px;
  margin-right: 5px;
  cursor: pointer;
}

.info-icon:after {
  position: absolute;
  text-indent: 0;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-family: icomoon;
  text-align: center;
  font-size: 16px;
  color: #bbc2d5;
  content: "\e91a";
  left: 0;
  top: 0;
}

div.popover {
  text-indent: 0;
  display: inline-block;
  background: #f6f9ff;
  border: 1px solid #d9dce8;
  line-height: 23px;
  max-width: 650px;
  font-size: 14px;
  color: #2d4d96;
  font-style: italic;
}

div.popover-body {
  padding: 15px 20px;
  color: #2d4d96;
}

.voetnoot {
  display: inline-block;
  background: #f6f9ff;
  border: 1px solid #d9dce8;
  line-height: 23px;
  font-size: 14px;
  color: #2d4d96;
  padding: 15px 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-style: italic;
}

/*
--------------------------------------------
arrow styling
--------------------------------------------
*/
.bs-popover-auto[x-placement^=bottom] .arrow::before,
.bs-popover-bottom .arrow::before {
  top: 0;
  border-bottom-color: #d9dce8;
}

.bs-popover-auto[x-placement^=bottom] .arrow::after,
.bs-popover-bottom .arrow::after {
  top: 1px;
  border-bottom-color: #f6f9ff;
}

.bs-popover-auto[x-placement^=top] .arrow::before,
.bs-popover-top .arrow::before {
  border-top-color: #d9dce8;
}

.bs-popover-auto[x-placement^=top] .arrow::after,
.bs-popover-top .arrow::after {
  bottom: 1px;
  border-top-color: #f6f9ff;
}


